html {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

input {
    display: none;
    visibility: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 1rem;
}

.container {
    width: 50%;
    height: 50%;
    margin: auto;
}

.carousel {
    overflow: hidden;
    max-width: 50rem;
    height: auto;
}

.carousel_item {
    width: 400%;
    height: 100%;
    display: flex;
    align-items: center;
}

.carousel_item .item {
    width: 25%;
    transition: all .6s cubic-bezier(1, 0, 0, 1);
}

.memes_navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.7rem;
}

.radio_button {
    width: 1rem;
    height: 1rem;
    border: 0.1rem solid rgb(0, 0, 0);
    cursor: pointer;
    background-color: white;
    transition: all .2s ease;
    border-radius: 0.9rem;
}

.radio_button:hover {
    border: 0.1rem solid rgb(177, 205, 92);
    background-color: rgb(177, 205, 92);

}

#radio1:checked ~ .s1{
    margin-left: 0;
} 
#radio2:checked ~ .s1 {
    margin-left: -25%;
} 
#radio3:checked ~ .s1 {
    margin-left: -50%;
} 
#radio4:checked ~ .s1{
    margin-left: -75%;
} 
